$color-white: #fff;
$color-primary: #47d147;
$color-primary-light:#5cd65c;
$color-primary-light-2:#5cd65c;
$color-primary-light-3:#99e699;

$color-primary-dark: #33cc33;
$color-primary-dark-2: #2eb82e;
$color-primary-dark-3: #248f24;
$color-primary-dark-4: #1f7a1f;

$color-purple: #8000ff;
$color-blue-police:#34495E;
$color-mint:#41B883;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;
$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;
$color-blue:#22c1c3;
$header-height: 10rem;

$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 1024px
);
